{{#if showFeatured}}
{{#if postFilter}}
{{#get "posts" filter="featured:true+{{postFilter}}" include="authors" limit=limit as |featured|}}
<section class="gh-featured gh-outer">
    <div class="gh-featured-inner gh-inner">
        <h2 class="gh-featured-title">{{#if titleLabel}}{{titleLabel}}{{else}}{{t "Featured"}}{{/if}}</h2>
        <div class="gh-featured-feed">
            {{#foreach featured}}
            {{> "post-card" imageSizes="80px"}}
            {{/foreach}}
        </div>
    </div>
</section>
{{/get}}
{{else}}
{{#get "posts" filter="featured:true" include="authors" limit=limit as |featured|}}
<section class="gh-featured gh-outer">
    <div class="gh-featured-inner gh-inner">
        <h2 class="gh-featured-title">{{#if titleLabel}}{{titleLabel}}{{else}}{{t "Featured"}}{{/if}}</h2>
        <div class="gh-featured-feed">
            {{#foreach featured}}
            {{> "post-card" imageSizes="80px"}}
            {{/foreach}}
        </div>
    </div>
</section>
{{/get}}
{{/if}}
{{/if}}